<div class="app">
  <form class="form-parameters" (ngSubmit)="onSubmit($event)">
    <div class="input-data">
      <label for="numero-abate">
        ETA 1:
        <input
          type="number"
          name="numero-abate"
          id="numero-abate"
          [(ngModel)]="numeroDeAbate"
        />
      </label>
    </div>
    <div class="input-data">
      <label for="eta-1-vazao">
        ETA 1:
        <input
          type="number"
          name="eta-1-vazao"
          id="eta-1-vazao"
          [(ngModel)]="eta1V"
        />
      </label>
    </div>
    <div class="input-data">
      <label for="eta-2-vazao">
        ETA 2:
        <input
          type="number"
          name="eta-2-vazao"
          id="eta-2-vazao"
          [(ngModel)]="eta2V"
        />
      </label>
    </div>
    <div class="input-data">
      <label for="eta-3-vazao">
        ETA 3:
        <input
          type="number"
          name="eta-3-vazao"
          id="eta-3-vazao"
          [(ngModel)]="eta3V"
        />
      </label>
    </div>
    <div class="input-data">
      <label for="cisterna">
        Cisterna:
        <input
          type="number"
          name="cisterna"
          id="cisterna"
          [(ngModel)]="cisterna"
        />
      </label>
    </div>

    <div class="input-data">
      <label for="phAguaBruta">
        pH água bruta:
        <input
          type="number"
          name="phAguaBruta"
          id="phAguaBruta"
          [(ngModel)]="phAguaBruta"
        />
      </label>
    </div>
    <div class="input-data">
      <label for="turbidezAguaBruta">
        Turbidez água Bruta:
        <input
          type="number"
          name="turbidezAguaBruta"
          id="turbidezAguaBruta"
          [(ngModel)]="turbidezAguaBruta"
        />
      </label>
    </div>
    <div class="input-data">
      <label for="turbidez-agua-tratada">
        Turbidez água tratada:
        <input
          type="number"
          name="turbidez-agua-tratada"
          id="turbidez-agua-tratada"
          [(ngModel)]="turbidezAguaTratada"
        />
      </label>
    </div>
    <div class="input-data">
      <label for="cloro-residual-agua-tratada">
        Cloro residual água tratada:
        <input
          type="number"
          name="cloro-residual-agua-tratada"
          id="cloro-residual-agua-tratada"
          [(ngModel)]="cloroResidualAguaTratada"
        />
      </label>
    </div>
    <button type="submit">Gerar</button>
    <div class="text">
      <h1 class="title">ETA 1:</h1>
      <span>{{ resultEta1 }}</span>
      <span class="unidades_medida">m³</span>

      <h1 class="title">ETA 2:</h1>
      <span>{{ resultEta2 }}</span>
      <span class="unidades_medida">m³</span>

      <h1 class="title">ETA 3:</h1>
      <span>{{ resultEta3 }}</span>
      <span class="unidades_medida">m³</span>

      <h1 class="title">Total Captado:</h1>
      <span>{{ resultTotalcaptado }}</span>
      <span class="unidades_medida">m³</span>

      <h1 class="title">Reservatório elevado:</h1>
      900
      <span class="unidades_medida">m³</span>

      <h1 class="title">Cisterna:</h1>
      <span>{{ resultCisterna }}</span>
      <span class="unidades_medida">m³</span>

      <h1 class="title">Turbidez de água tratada:</h1>
      <span>{{ resultTurbAguaTratada }}</span>
      <span class="unidades_medida">NTU</span>

      <h1 class="title">Cloro residual água tratada:</h1>
      <span>{{ resultCloroResidual }}</span>

      <h1 class="title">Turbidez de água bruta:</h1>
      <span>{{ resultTurbAguaBruta }}</span>
      <span class="unidades_medida">NTU</span>

      <h1 class="title">pH água bruta:</h1>
      <span>{{ resultPhAguaBruta }}</span>
      <span class="unidades_medida">NTU</span>
    </div>
  </form>
</div>
